.main {
    border: 1px grey solid;
    background-color: lightslategray;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

header {
    background: #cb6f34;
    width: 40%;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.scores {
    display: inline-block;
    height: 100px;
    margin-bottom: 10px;
}

.instr {
    background: #cfd6fb8c;
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    color: #2a21ac;
    padding-left: 10px; 
}

.sm-box {
    background: #3afdfa;
    width: 50%;
    margin: 0 auto;
    padding-left: 10px;
}

/* .outcomes {
    background: #3afdfa;
    width: 10%;
    height: 100px;
    margin-left: 195px; 
    margin-top: 20px; 
    padding-left: 10px;
    display: inline-block;
} */

#gem-1,
#gem-2,
#gem-3,
#gem-4 {
    height: 100px;
    width: 150%;
}
