.main {
    border: 1px grey solid;
    background-color: lightslategray;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

header {
    background: #cb6f34;
    width: 40%;
    text-align: center;
    font-size: 30px;
    margin: 10px
     0 0 10px;
}

.instr {
    background: #cfd6fb8c;
    width: 75%;
    margin: 10px 0 0 10px;
    color: #2a21ac;
    padding-left: 10px; 
}

.random {
    background: #3afdfa;
    width: 15%;
    height: 100px;
    float: left;
    margin: 10px 0 0 10px;
    padding-left: 10px; 
}

.outcomes {
    background: #3afdfa;
    width: 10%;
    height: 100px;
    float: left;
    margin: 10px 0 0 10px;  
    padding-left: 10px; 
}

.gems {
    height: 110px;
}

#gem-1,
#gem-2,
#gem-3,
#gem-4 {
    background-color: lightslategray;
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;  
    float: left;
}

.scoreText {
    background: #20a295;
    width: 15%;
    color: black;
    margin: 10px 0 0 10px;
    padding-left: 10px; 
}
